.senate-uniswap-theme .senate-uniswap-theme-button-container {
  display: flex;
  justify-content: flex-end;
}

.senate-uniswap-theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 290px;
  color: #E9337A;
  background: #FFE9F1;
  border: 1px solid #F2ACC7;
  border-radius: 16px;
  cursor: pointer;
  padding: 0.5em 1em;
  margin:  0px 0px 0.5em 0px;
}

.senate-uniswap-theme-button-content {
  display: flex;
  align-items: center;
  row-gap: 0.5em;
  column-gap: 0.5em;
}

.senate-uniswap-theme-popup {
  width: 380px;
  max-width: 380px;
  position: absolute;
  background: linear-gradient(53.9deg, rgba(233, 51, 122, 0.25) -0.34%, rgba(251, 198, 219, 0.25) 90.27%),
    #482731;
  padding: 6px;
  border-radius: 20px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-top: 55px;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 3px 8px;
  z-index: 999;
  text-align: center;
  align-items: center;
  display: none;
}

.senate-uniswap-theme-close {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='white' fill-opacity='0.2'/%3E%3Ccircle cx='16' cy='16' r='15.5' stroke='white' stroke-opacity='0.4'/%3E%3Cpath d='M22.2574 11.0502L20.8432 9.63599L15.8933 14.5858L10.9435 9.636L9.5293 11.0502L14.4791 16L9.52945 20.9497L10.9437 22.3639L15.8933 17.4142L20.843 22.3639L22.2572 20.9497L17.3075 16L22.2574 11.0502Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E");
  cursor: pointer;
}

.senate-uniswap-theme-header-text {
  font-weight: 700;
  font-size: 28px;
  margin: 0px 0px 35px;
  padding: 0px 24px;
}

.senate-uniswap-theme-description-text {
  font-weight: 400;
  font-size: 16px;
  margin: 0px 0px 35px;
  padding: 0px 24px;
}

.senate-uniswap-theme-description-emoji {
  font-weight: 700;
  font-size: 87px;
  margin: 0 0 25px;
  padding: 0px 24px;
}

.senate-uniswap-theme-input-row {
  height: 44px !important;
  display: flex;
  justify-content: center;
  padding: 0px 24px 14px;
}

.senate-uniswap-theme-email {
  height: 100%;
  background: rgb(217, 217, 217);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 0px 0px 0px 8px;
}

.senate-uniswap-theme-subscribe-btn {
  opacity: 0.33;
  height: 46px !important;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border-width: 1px;
  border-style: solid solid solid none;
  border-color: rgb(51, 51, 51);
  border-image: initial;
  cursor: pointer;
  padding: 0px 8px 0px 8px;
}

.senate-uniswap-theme-tooltip-tail {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(121, 74, 89, 1);
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
}